
@import 'utils/vars';
@import 'utils/mixins';
// @import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
.p-link {
  a { color: $linkColor; transition: all .4s ease-out;
    &:active, &:focus { color: $linkColor_hover; }

    svg { transition: fill .4s ease-out; }
  }

  @media screen and (min-width: $laptopWidth) {
    a:hover { color: $linkColor_hover; }
  }
}


/* Form styles */
.p-button {
  a { height: 52px; border-radius: 26px; padding: 0 32px; background: $Blue; color: $White; font-weight: bold; font-size: 11px; line-height: 20px; letter-spacing: .44px; text-transform: uppercase; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:active, &:focus { background: $linkColor_hover; color: $White; }
  }

  &--white a { background: $White; color: $mainColor;
    &:active, &:focus { background: $LightGrey; color: $mainColor; }
  }

  @media screen and (min-width: $laptopWidth) {
    a:hover { background: $linkColor_hover; color: $White; }

    &--white a:hover { background: $LightGrey; color: $mainColor; }
  }
}


/* Layout styles */
header .container,
footer .container { height: 100px; }


/* Page styles */
@import 'page/product';


/* Module styles */
@import 'module/popup';
