extends include/main

block variables
  - let title = 'Allpricer'
  - let description = ''

block content
  section.p-link#product
    .container
      ol.breadcrumb
        //- li
        //-   a(href='/' title='Главная') Главная
        //- li
        //-   a(href='#' title='Статьи') Статьи
        //- li
        //-   a(href='#' title='Игры Steam') Игры Steam
        //- li
        //-   a(href='#' title='Baldur\'s Gate 3 покупка, через Steam') Baldur's Gate 3 покупка, через Steam
      .product
        .product__top
          .product__image
            img(src='/image/illustration/product.jpg' alt='Baldur\'s Gate 3')
          .product__discount -20%
        .product__main
          .product__title
            h2
              | Baldur's Gate 3
              br
              | покупка, через Steam
          .product-price
            .product-price__old $59.99
            span $47.99
          ul.product-tags
            li.product-tags__item Ролевая игра
            li.product-tags__item Решения с последствиями
            li.product-tags__item Фэнтези
          .product__text
            p
              span Разработчик:
              | Larian Studios
            p
              span Дата релиза:
              | 3 авг. 2023
          .p-button.product__button
            a(href='#' title='Пополнить steam-аккаунт') Пополнить steam-аккаунт
          .product-slider
            .product-slider__wraper
              - for (let s = 1; s <= 2; s++)
                - for (let i = 1; i <= 3; i++)
                  .product-slider__image
                    a(href='#' data-action='open-popup' data-popup='gallery' title='Увеличить')
                      img(src=`/image/illustration/${i}-min.jpg` alt='illustration')
            .product-slider-nav
              .product-slider-nav__prev
                svg
                  use(href='/image/icon/left.svg#left')
              .product-slider-nav__next
                svg
                  use(href='/image/icon/right.svg#right')
  .p-link#product-info
    .container
      .product-info
        ul.product-info-nav
          li.product-info-nav__item
            a.active(href='#about' title='Об игре') Об игре
          li.product-info-nav__item
            a(href='#system' title='Системные требования') Системные требования
        .product-info-tabs
          .product-info-tabs__item#about
            .product-info-tabs__text
              p Соберите отряд и вернитесь в Забытые Королевства. Вас ждет история о дружбе и предательстве, выживании и самопожертвовании, о сладком зове абсолютной власти.Ваш мозг стал вместилищем для личинки иллитида, и она пробуждает в вас таинственные, пугающие способности. Сопротивляйтесь паразиту и обратите тьму против себя самой – или же безоглядно отдайтесь злу и станьте его воплощением.Ролевая игра нового поколения в мире Dungeons & Dragons от создателей Divinity: Original Sin 2.
              p Выбирайте из 12 классов и 11 рас, представленных в Руководстве игрока D&D. Создайте собственную личность, возьмите любого из героев с историей – или же взгляните в глаза собственным темным желаниям, выбрав «Темный соблазн» – уникального героя с историей, отличающегося собственными уникальными механиками игры, но во всем остальном полностью настраиваемого. Кем бы вы ни стали, приключения, добыча, битвы и любовь ждут вас в Забытых Королевствах и за их пределами. Собирайте свой отряд и отправляйтесь искать приключений по Интернету группой до четырех игроков.
          .product-info-tabs__item#system
            .product-info-tabs__title
              h5 Windows
            .product-info-tabs__row
              .product-info-tabs__column
                .product-info-tabs__name Минимальные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item 64-разрядные процессор и операционная система
                  li.product-info-tabs-list__item ОС: Windows 10 64-bit
                  li.product-info-tabs-list__item Процессор: Intel I5 4690 / AMD FX 8350
                  li.product-info-tabs-list__item Оперативная память: 8 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Nvidia GTX 970 / RX 480 (4GB+ of VRAM)
                  li.product-info-tabs-list__item DirectX: версии 11
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: SSD required
              .product-info-tabs__column
                .product-info-tabs__name.product-info-tabs__name--blue Рекомендованные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item 64-разрядные процессор и операционная система
                  li.product-info-tabs-list__item ОС: Windows 10 64-bit
                  li.product-info-tabs-list__item Процессор: Intel i7 8700K / AMD r5 3600
                  li.product-info-tabs-list__item Оперативная память: 16 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Nvidia 2060 Super / RX 5700 XT (8GB+ of VRAM)
                  li.product-info-tabs-list__item DirectX: версии 11
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: SSD required
            .product-info-tabs__title.product-info-tabs__title--margin-top
              h5 macOS
            .product-info-tabs__row
              .product-info-tabs__column
                .product-info-tabs__name Минимальные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item ОС: macOS 12 or newer
                  li.product-info-tabs-list__item Процессор: Apple M1
                  li.product-info-tabs-list__item Оперативная память: 8 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Apple M1
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: Min specs can run the game on low to medium settings. Splitscreen will not run at an acceptable level of performance. SSD required.
              .product-info-tabs__column
                .product-info-tabs__name.product-info-tabs__name--blue Рекомендованные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item ОС: Latest macOS
                  li.product-info-tabs-list__item Процессор: Apple M1 Pro or better
                  li.product-info-tabs-list__item Оперативная память: 16 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Apple M1 Pro or better
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: Recommended specs can run the game on high or ultra settings. SSD required.
  .p-link#product-banner
    .container
      .product-banner
        .product-banner__main
          .product-banner__logo
            img(src='/image/steamgold.svg' alt='Steamgold')
          .product-banner__title
            h4 Пополнить баланс Steam
          .product-banner__text
            p Хотите приобрести игру? Пополните&nbsp;баланс с помощью SteamGold, быстро и надежно.
          .p-button.p-button--white.product-banner__button
            a(href='#' title='Пополнить') Пополнить
        .product-banner__image
          picture
            source(srcset='/image/illustration/banner.png, /image/illustration/banner@2x.png 2x' media='(min-width: 768px)' type='image/png')
            img(src='/image/illustration/banner.m.png' srcset='/image/illustration/banner.m@2x.png' alt='banner')
  section.p-link#similar-games
    .container
      .similar-games
        .similar-games__title
          h3 Похожие игры
        .similar-games-list
          .similar-games-list__item
            .similar-games-list__top
              .similar-games-list__image
                a(href='/product.html' title='ELDEN RING')
                  img(src='/image/illustration/product.jpg' alt='ELDEN RING')
            .similar-games-list__main
              .similar-games-list__title
                a(href='/product.html' title='ELDEN RING')
                  h5 Lorem ipsum dolor sit amet consectetur adipisicing elit
              .similar-games-list-price
                span $16.60
          - for (let i = 1; i <= 4; i++)
            .similar-games-list__item
              .similar-games-list__top
                .similar-games-list__image
                  a(href='/product.html' title='ELDEN RING')
                    img(src='/image/illustration/product.jpg' alt='ELDEN RING')
                .similar-games-list__discount -70%
              .similar-games-list__main
                .similar-games-list__title
                  a(href='/product.html' title='ELDEN RING')
                    h5 ELDEN RING
                .similar-games-list-price
                  .similar-games-list-price__old $22.00
                  span $6.60
