
/* Pseudo */
@mixin pseudo($content: '', $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

/* Z-index */
$layers: (
  close: 9999,
  popup-module: 9100,
  popup: 9000
);

@mixin z-index($index) {
  @if map-has-key($layers, $index) {
    z-index: map-get($layers, $index);
  } @else {
    @warn 'The key #{ $index } is not in the map `$layers`';
  }
}
