
/* Brand colors */
$Black                     : #2a2d32;
$Grey                      : #797d85;
$DarkGrey                  : #757575;
$PaleGrey                  : #b7bbbe;
$BrightGrey                : #dee5e9;
$LightGrey                 : #eaeef1;
$White                     : #ffffff;

$Blue                      : #476fac;
$Green                     : #71c248;

/* Breakpoints */
$mobileWidth               : 100%;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1240px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $Blue;
$linkColor_hover           : $Black;

$bannerBackground          : #181a21;
$bannerTextColor           : #50535a;
