
.popup { position: fixed; left: 0; top: 0; width: 100vw; height: 100dvh; overflow: hidden; opacity: 0; visibility: hidden; @include z-index('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &-overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; min-height: 100dvh; background: $White; overflow-x: hidden; }

  &__close { position: absolute; top: 20px; right: 20px; width: 32px; height: 32px; border-radius: 50%; background: rgba($mainColor, .1); opacity: 1; display: flex; justify-content: center; align-items: center; @include z-index('close');
    &:active, &:focus { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }

    svg { width: 10px; height: 10px; stroke: $mainColor; flex: none; }
  }
  &__module { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $White; overflow: auto; opacity: 0; visibility: hidden; transition: opacity .4s ease-in-out; @include z-index('popup-module');
    &--center { top: 50%; height: auto; overflow: hidden; transform: translate(0, -50%); }

    &.open { opacity: 1; visibility: visible; }

    .popup__close { display: none; }
  }

  &.open { opacity: 1; visibility: visible; }

  .gallery {
    &-slider {
      &__wraper { display: flex; justify-content: center; align-items: center; }
      &__image { overflow: hidden;
        img { width: 100%; }
      }

      &-nav { display: none; }

      .slick-slide div { display: flex; }
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .popup {
    &-overlay { background: rgba($mainColor, .4); }

    &__close { top: 16px; right: 16px; background: rgba($LightGrey, .2); display: none;
      svg { stroke: $White; }
    }
    &__module {
      &--center { left: 50%; top: 50%; transform: translate(-50%, -50%);

        /* Добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }

      .popup__close { display: flex; }
    }

    .gallery {
      &-slider {
        &__image { border-radius: 6px; }

        &-nav { display: block;
          &__prev,
          &__next { position: absolute; left: 12px; top: 50%; width: 32px; height: 32px; border-radius: 50%; background: rgba($LightGrey, .2); opacity: 1; display: flex; justify-content: center; align-items: center;
            &::before { @include pseudo; left: -8px; top: -8px; width: 48px; height: 48px; }
            &:active, &:focus { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }

            svg { width: 6px; height: 10px; flex: none; }
          }
          &__next { left: auto; right: 12px; }
        }
      }
    }
  }
}
@media screen and (min-width: $laptopWidth) {
  .popup {
    &__close:hover { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }
    &__module { width: 828px;
      &--center { border-radius: 6px; }
    }

    .gallery {
      &-slider {
        &-nav {
          &__prev,
          &__next {
            &:hover { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }
          }
        }
      }
    }
  }
}
