block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description' content=description)
  body
    .all_wrapper
      include header
      block content
      include footer
      include popup

    // js
