// Popup
.popup.p-link
  .popup-overlay(data-action='close-popup')
  a.popup__close(href='#' data-action='close-popup' title='Закрыть окно')
    svg
      use(href='/image/icon/close.svg#close')
  // Галерея
  .gallery.popup__module.popup__module--center
    a.popup__close(href='#' data-action='close-popup' title='Закрыть окно')
      svg
        use(href='/image/icon/close.svg#close')
    .gallery-slider
      .gallery-slider__wraper
        - for (let s = 1; s <= 2; s++)
          - for (let i = 1; i <= 3; i++)
            .gallery-slider__image
              img(src=`/image/illustration/${i}.jpg` alt='illustration')
      .gallery-slider-nav
        .gallery-slider-nav__prev
          svg
            use(href='/image/icon/left.svg#left')
        .gallery-slider-nav__next
          svg
            use(href='/image/icon/right.svg#right')
// Popup end
