
/* Product page */
#product {
  .container { margin: 0 10px;
    .product { display: flex; flex-direction: column;
      &__top { position: relative; margin-bottom: 32px; }
      &__image { border-radius: 20px; overflow: hidden;
        img { width: 100%; }
      }
      &__discount { position: absolute; top: 16px; right: 16px; border-radius: 4px; padding: 10px 12px; background: $Green; color: $White; font-weight: 600; font-size: 16px; line-height: 20px; text-transform: uppercase; }
      &__title h2 { margin: 0; font-weight: 600; font-size: 28px; line-height: 36px; text-transform: uppercase; }
      &__text p { font-size: 13px; line-height: 20px;
        &:not(:last-child) { margin-bottom: 4px; }

        span { margin-right: 8px; color: $DarkGrey; }
      }
      &__button { margin: 24px 0 40px; }

      &-price { margin: 16px 0 18px; font-size: 20px; line-height: 32px; display: flex;
        &__old { position: relative; margin-right: 8px; color: $PaleGrey;
          &::after { @include pseudo; left: 0; top: 16px; width: 100%; height: 1.5px; background: $PaleGrey; transform: rotate(-24deg); }
        }

        span { color: $Blue; font-weight: 600; }
      }
      &-tags { margin-bottom: 16px; display: flex; flex-wrap: wrap;
        &__item { border-radius: 4px; margin-top: 6px; padding: 6px 8px; background: $LightGrey; color: $DarkGrey; font-size: 11px; line-height: 14px; transition: all .4s ease-out;
          &:active, &:focus { background: $BrightGrey; }

          &:not(:last-child) { margin-right: 6px; }
        }
      }
      &-slider { position: relative; margin: 0 -20px; flex: none;
        &__image { border-radius: 12px; overflow: hidden;
          a { outline: none;
            img { width: 100%; }
          }
        }

        &-nav { display: none; }

        .slick-slide { margin: 0 4px;
          div { display: flex; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { margin: 0 auto;
      .product { flex-direction: row;
        &__top { width: calc((100% - 20px) / 2); margin: 0 20px 0 0; }
        &__main { width: calc((100% - 20px) / 2); }

        &-price { margin-top: 8px; }
        &-tags { flex-wrap: nowrap; }
        &-slider { margin: 0; border-radius: 6px; overflow: hidden;
          &__image { border-radius: 6px; }

          &-nav { display: block;
            &__prev,
            &__next { position: absolute; left: 12px; top: 50%; width: 32px; height: 32px; border-radius: 50%; background: rgba($LightGrey, .2); opacity: 1; display: flex; justify-content: center; align-items: center;
              &::before { @include pseudo; left: -8px; top: -8px; width: 48px; height: 48px; }
              &:active, &:focus { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }

              svg { width: 6px; height: 10px; flex: none; }
            }
            &__next { left: auto; right: 12px; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 16px;
      .product {
        &-tags {
          &__item:hover { background: $BrightGrey; }
        }
        &-slider {
          &-nav {
            &__prev,
            &__next {
              &:hover { box-shadow: 0 0 0 2px rgba($LightGrey, .32); background: rgba($LightGrey, .32); }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 0 140px;
      .product {
        &__top { width: 374px; margin-right: 56px; }
        &__main { width: calc(100% - 430px); }
        &__title { margin-top: 24px;
          h2 { font-size: 32px; line-height: 40px; }
        }
      }
    }
  }
}

#product-info { margin-top: 40px;
  .container { margin: 0 10px;
    .product-info {
      &-nav { display: flex;
        &__item {
          &:not(:first-child) { margin-left: 16px; }

          a { position: relative; padding: 0 8px 10px; color: $mainColor; font-weight: 600; font-size: 16px; line-height: 22px; white-space: nowrap; display: flex;
            &.active::after { @include pseudo; left: 0; bottom: -2px; width: 100%; height: 2px; border-radius: 1px; background: $Blue; }
          }
        }
      }
      &-tabs { margin-top: 24px;
        &__title { margin-bottom: 16px;
          &--margin-top { margin-top: 32px; }

          h5 { margin: 0; font-weight: bold; font-size: 16px; line-height: 24px; }
        }
        &__text p { font-size: 15px; line-height: 24px;
          &:not(:first-child) { margin-top: 16px; }
        }
        &__row { display: flex; flex-direction: column; }
        &__column:not(:first-child) { margin-top: 24px; }
        &__name { margin-bottom: 8px; color: $Grey; font-weight: bold; font-size: 11px; line-height: 20px; letter-spacing: .44px; text-transform: uppercase;
          &--blue { color: $Blue; }
        }

        &-list { margin-left: 24px;
          &__item { position: relative; font-size: 15px; line-height: 24px;
            &::before { @include pseudo; left: -14px; top: 10px; width: 4px; height: 4px; border-radius: 50%; background: $mainColor; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { margin: 0 auto;
      .product-info {
        &-nav {
          &__item a { font-size: 20px; line-height: 26px; }
        }
        &-tabs {
          &__row { flex-direction: row; }
          &__column { width: calc((100% - 20px) / 2);
            &:not(:first-child) { margin: 0 0 0 20px; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 16px;
      // .product-info {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 0 140px;
      .product-info {
        &-tabs {
          &__column { width: calc((100% - 48px) / 2);
            &:not(:first-child) { margin-left: 48px; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { margin-top: 48px; }
}

#product-banner { margin-top: 48px;
  .container { margin: 0 10px;
    .product-banner { border-radius: 20px; padding: 48px 32px 0; background: $bannerBackground; overflow: hidden; display: flex; flex-direction: column;
      &__logo { margin-bottom: 20px;
        img { width: 135px; height: 35px; }
      }
      &__title { margin-bottom: 8px;
        h4 { margin: 0; color: $White; font-weight: 600; font-size: 20px; line-height: 26px; }
      }
      &__text p { color: $bannerTextColor; font-size: 15px; line-height: 20px; }
      &__button { margin-top: 24px; }
      &__image { margin: 16px -32px 0;
        img { width: 100%; }
      }
    }

    @media screen and (min-width: $tabletWidth) { margin: 0 auto;
      .product-banner { padding: 56px 0 60px 64px; flex-direction: row;
        &__logo { margin-bottom: 24px;
          img { width: 180px; height: 46px; }
        }
        &__title { margin-bottom: 12px; }
        &__image { margin: -56px 0 -60px;
          img { width: auto; height: 100%; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 16px;
      // .product-banner {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 0 140px;
      .product-banner {
        &__title h4 { font-size: 28px; line-height: 32px; }
        &__image img { width: 574px; }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { margin-top: 56px; }
}

#similar-games { background: $LightGrey; margin-top: 56px;
  .container { margin: 0 10px;
    .similar-games { margin: 32px 0 40px;
      &__title { margin-bottom: 28px;
        h3 { margin: 0; font-weight: 600; font-size: 18px; line-height: 24px; text-transform: uppercase; }
      }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - 8px) / 2);
          &:nth-child(even) { margin-left: 8px; }
          &:not(:nth-child(-n + 2)) { margin-top: 20px; }
          &:nth-child(5) { display: none; }
        }
        &__top { position: relative; margin-bottom: 12px; }
        &__image { border-radius: 6px; overflow: hidden;
          a { display: flex;
            img { width: 100%; flex: none; }
          }
        }
        &__discount { position: absolute; top: 8px; right: 8px; border-radius: 4px; padding: 4px 5px; background: $Green; color: $White; font-weight: 600; font-size: 12px; line-height: 20px; text-transform: uppercase; }
        &__title a { color: $mainColor;
          h5 { margin: 0; font-weight: 600; font-size: 15px; line-height: 20px; }
        }

        &-price { margin-top: 4px; font-size: 13px; line-height: 20px; display: flex;
          &__old { position: relative; margin-right: 8px; color: $PaleGrey;
            &::after { @include pseudo; left: 0; top: 10px; width: 100%; height: 1px; background: $PaleGrey; transform: rotate(-24deg); }
          }

          span { color: $Blue; font-weight: 600; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { margin: 0 auto;
      .similar-games { margin: 56px 0 64px;
        &__title { margin-bottom: 24px; }

        &-list { flex-wrap: nowrap;
          &__item { width: calc((100% - 80px) / 5);
            &:nth-child(even) { margin-left: 0; }
            &:not(:nth-child(-n + 2)) { margin-top: 0; }
            &:not(:first-child) { margin-left: 20px; }
            &:nth-child(5) { display: block; }
          }
          &__discount { padding: 6px 8px; font-size: 14px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 16px;
      // .similar-games {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 0 140px;
      // .similar-games {}
    }
  }

  @media screen and (min-width: $tabletWidth) { margin-top: 72px; }
}
